<head>
  <meta name="google-site-verification" content="PMHkt8s-4l_kbcvd393NaOXJhXdr60VNqDPmcRs8e_s" />
    <meta charset="utf-8"/>
    <!-- multi-device width -->
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- site description -->
    {% if page.excerpt %}
        {% assign desc = page.excerpt | strip_html |
  strip_newlines | truncate: 160 %}
    {% else %}
        {% assign desc = site.description
  %}
    {% endif %}
    <meta content="{{ desc }}" name="description"/>
    <!-- referer for 3rd-part images-->
    <meta content="no-referrer" name="referrer"/>
    <!-- title -->
    <title>
        {% if page.title %}
            {{ page.title | escape }}
        {% else %}
            {{ site.title |
    escape }}
        {% endif %}
    </title>
    <!-- icon -->
    <link href="{{site.url }}{{site.baseurl}}/src/assets/img/favicon.ico" rel="shortcut icon bookmark" type="image/x-icon"/>
    <!-- global stylesheet -->
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/src/assets/css/main.css" type="text/css"/>
    <!-- fa 5.9.0 -->
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/src/assets/css/fa.min.css" type="text/css"/>
    <!-- global script -->
    <script src="{{site.url}}{{site.baseurl}}/src/assets/js/main.js" async></script>
    <!-- mathjax 2.7.5 -->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      },
      "HTML-CSS": { 
        linebreaks: { automatic: true }
      },
      SVG: { 
        linebreaks: { automatic: true } 
      }
    });
    </script>
    <!-- mermaid 8.11.5-->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.11.5/mermaid.min.js"></script>
    
    {% seo %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-46D8C8RCCZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-46D8C8RCCZ');
</script>
